<div class="flex h-full w-full items-end">
  @for (tab of tabs(); track tab.id) {
    <div
      (click)="selectTab(tab.id)"
      [class]="
        tab.id === activeTabId()
          ? 'flex h-10 items-center gap-2 border-t-2 border-t-accent-purple border-b border-b-editor border-r border-r-border bg-tab-active px-4 text-sm text-text-main cursor-pointer min-w-30 relative z-10 -mb-px'
          : 'flex h-10 items-center gap-2 border-t border-t-border border-r border-r-border bg-tab-inactive px-4 text-sm text-text-muted hover:bg-surface hover:text-text-main transition-colors cursor-pointer min-w-30'
      "
    >
      <span [class]="tab.iconColor">{{ tab.iconText }}</span>

      <span class="truncate">{{ tab.label }}</span>
    </div>
  }
</div>
