<div class="flex h-screen flex-col bg-editor text-text-main font-mono">
  <div class="flex h-10 items-center border-b border-border bg-sidebar px-4">
    <app-menubar />
  </div>

  <div class="flex flex-1 min-h-0">
    <app-sidebar />

    <div class="flex flex-1 min-w-0 flex-col">
      <div class="flex h-10 items-end border-b border-border bg-tab-inactive pt-1">
        <app-tabbar />
      </div>

      <main class="flex-1 overflow-auto bg-editor">
        <div class="p-6">
          <router-outlet />
        </div>
      </main>
    </div>
  </div>
</div>
